@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin/Roboto-Thin.eot');
	src: url('../fonts/Roboto-Thin/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Thin/Roboto-Thin.woff') format('woff'),
		url('../fonts/Roboto-Thin/Roboto-Thin.ttf') format('truetype'),
		url('../fonts/Roboto-Thin/Roboto-Thin.svg#FontName') format('svg');
	font-style:normal;
	font-weight: 100;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-ThinItalic/Roboto-ThinItalic.eot');
	src: url('../fonts/Roboto-ThinItalic/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-ThinItalic/Roboto-ThinItalic.woff') format('woff'),
		url('../fonts/Roboto-ThinItalic/Roboto-ThinItalic.ttf') format('truetype'),
		url('../fonts/Roboto-ThinItalic/Roboto-ThinItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
		url('../fonts/Roboto-Light/Roboto-Light.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-LightItalic/Roboto-LightItalic.eot');
	src: url('../fonts/Roboto-LightItalic/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-LightItalic/Roboto-LightItalic.woff') format('woff'),
		url('../fonts/Roboto-LightItalic/Roboto-LightItalic.ttf') format('truetype'),
		url('../fonts/Roboto-LightItalic/Roboto-LightItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
		url('../fonts/Roboto-Regular/Roboto-Regular.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Italic/Roboto-Italic.eot');
	src: url('../fonts/Roboto-Italic/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Italic/Roboto-Italic.woff') format('woff'),
		url('../fonts/Roboto-Italic/Roboto-Italic.ttf') format('truetype'),
		url('../fonts/Roboto-Italic/Roboto-Italic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
		url('../fonts/Roboto-Medium/Roboto-Medium.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-MediumItalic/Roboto-MediumItalic.eot');
	src: url('../fonts/Roboto-MediumItalic/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-MediumItalic/Roboto-MediumItalic.woff') format('woff'),
		url('../fonts/Roboto-MediumItalic/Roboto-MediumItalic.ttf') format('truetype'),
		url('../fonts/Roboto-MediumItalic/Roboto-MediumItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
		url('../fonts/Roboto-Bold/Roboto-Bold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BoldItalic/Roboto-BoldItalic.eot');
	src: url('../fonts/Roboto-BoldItalic/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-BoldItalic/Roboto-BoldItalic.woff') format('woff'),
		url('../fonts/Roboto-BoldItalic/Roboto-BoldItalic.ttf') format('truetype'),
		url('../fonts/Roboto-BoldItalic/Roboto-BoldItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 700;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black/Roboto-Black.eot');
	src: url('../fonts/Roboto-Black/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Black/Roboto-Black.woff') format('woff'),
		url('../fonts/Roboto-Black/Roboto-Black.ttf') format('truetype'),
		url('../fonts/Roboto-Black/Roboto-Black.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BlackItalic/Roboto-BlackItalic.eot');
	src: url('../fonts/Roboto-BlackItalic/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-BlackItalic/Roboto-BlackItalic.woff') format('woff'),
		url('../fonts/Roboto-BlackItalic/Roboto-BlackItalic.ttf') format('truetype'),
		url('../fonts/Roboto-BlackItalic/Roboto-BlackItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 900;
}
/* Generated by Glyphter (http://www.glyphter.com) on  Thu Jan 19 2017*/
@font-face {
    font-family: 'ico';
    src: url('../fonts/icon/ico.eot');
    src: url('../fonts/icon/ico.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icon/ico.woff') format('woff'),
         url('../fonts/icon/ico.ttf') format('truetype'),
         url('../fonts/icon/ico.svg#ico') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
	vertical-align: middle;
	font-size: 10px;
   font-family: 'ico';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}


.icon-arrow_left:before{content:'\0041';}
.icon-arrows:before{content:'\004f';}
.icon-facebook:before{content:'\0042';}
.icon-twitter:before{content:'\0043';}
.icon-close:before{content:'\0044';}
.icon-agenda:before{content:'\0045';}
.icon-file2:before{content:'\0046';}
.icon-file1:before{content:'\0047';}
.icon-internet:before{content:'\0048';}
.icon-logo_id:before{content:'\0049';}
.icon-search:before{content:'\004a';}
.icon-mobile_parameters:before{content:'\004b';}
.icon-mobile_parameters_1:before{content:'\004c';}
.icon-pdf:before{content:'\004d';}
.icon-search_think:before{content:'\004e';}
.icon-burger:before{content:'\0051';}

.icon-arrow_right:before{content:'\0050';}
.icon-burger:before{content:'\0051';}
.icon-arrow_down:before{content:'\0052';}
.icon-arrow_up:before{content:'\0053';}
.icon-arrows_left:before{content:'\0054';}

