/*START RESET*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  outline: 0 none; }

body {
  line-height: 1;
  background: #fff;
  font-family: "Roboto";
  color: #000; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:focus, a:visited, a:hover {
  text-decoration: none; }

main, header, footer {
  display: none; }

/*END RESET*/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 15px 0.3px rgba(0, 0, 0, 0.2);
  line-height: 50px;
  z-index: 1000;
  background: #579f14;
  background: -moz-linear-gradient(left, #579f14 0%, #96cc00 70%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #579f14), color-stop(70%, #96cc00), color-stop(100%, white));
  background: -webkit-linear-gradient(left, #579f14 0%, #96cc00 70%, white 100%);
  background: -o-linear-gradient(left, #579f14 0%, #96cc00 70%, white 100%);
  background: -ms-linear-gradient(left, #579f14 0%, #96cc00 70%, white 100%);
  background: linear-gradient(to right, #579f14 0%, #96cc00 70%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#579f14', endColorstr='#fff', GradientType=1 ); }
  header a.mob-show i:before {
    color: #2d2d2d !important; }
  header.main_p_h {
    background: transparent; }
    header.main_p_h .header_contacts {
      background: transparent; }
    header.main_p_h a.mob-show i:before {
      color: #fff !important; }
  header.move {
    background: #579f14;
    background: -moz-linear-gradient(left, #579f14 0%, #96cc00 70%, white 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #579f14), color-stop(70%, #96cc00), color-stop(100%, white));
    background: -webkit-linear-gradient(left, #579f14 0%, #96cc00 70%, white 100%);
    background: -o-linear-gradient(left, #579f14 0%, #96cc00 70%, white 100%);
    background: -ms-linear-gradient(left, #579f14 0%, #96cc00 70%, white 100%);
    background: linear-gradient(to right, #579f14 0%, #96cc00 70%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#579f14', endColorstr='#fff', GradientType=1 ); }
    header.move a.mob-show i:before {
      color: #2d2d2d !important; }
  header.main_p_h.move .header_contacts {
    background: rgba(0, 0, 0, 0.3) !important; }
  header * {
    color: #000; }
  header .logo {
    float: left;
    width: 160px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    display: block;
    line-height: 42px; }
    header .logo i {
      color: #fff;
      margin-right: 10px; }
  header .right-menu {
    float: right;
    position: relative;
    width: calc(100% - 165px);
    text-align: right;
    line-height: 35px; }
    header .right-menu ul.nav {
      display: inline-block;
      vertical-align: top;
      margin-right: 25px; }
      header .right-menu ul.nav li {
        display: inline-block;
        position: relative; }
        header .right-menu ul.nav li:hover > a {
          text-shadow: 1px 1px 1px #000;
          background: transparent; }
        header .right-menu ul.nav li:hover .sub_nav {
          display: block; }
      header .right-menu ul.nav a {
        color: #fff;
        text-shadow: 1px 1px 1px #595959;
        line-height: 42px;
        padding: 0 15px;
        font-size: 20px; }
    header .right-menu .sub_nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #FFF;
      padding: 5px;
      width: 235px;
      text-align: left;
      border: 1px solid #5d5d5d;
      z-index: 100; }
      header .right-menu .sub_nav li {
        width: 100%; }
      header .right-menu .sub_nav li a {
        padding: 5px 10px;
        display: block;
        line-height: 1;
        color: #595959;
        text-shadow: none;
        width: 100%;
        font-size: 16px; }
      header .right-menu .sub_nav li:hover a {
        text-shadow: 1px 0px 0px #000 !important; }
    header .right-menu > a i:before {
      font-size: 26px;
      color: #2b2b2b;
      line-height: 42px; }
    header .right-menu > a i:hover:before {
      color: #959595; }
    header .right-menu > a.open + ul {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.5s ease; }
    header .right-menu > a.cart {
      margin-right: 25px;
      position: relative; }
      header .right-menu > a.cart:hover i:before {
        text-shadow: 1px 1px 1px #595959; }
      header .right-menu > a.cart i:before {
        color: #5BBC2E; }
      header .right-menu > a.cart b {
        position: absolute;
        height: 12px;
        width: 12px;
        top: -10px;
        right: -7px;
        background: #fb5353;
        border-radius: 50%;
        line-height: 12px;
        color: #fff;
        font-size: 10px;
        text-align: center; }
  header .mob-show {
    display: none; }
  header .header_nav {
    z-index: 100; }
  header .header_contacts {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3); }
    header .header_contacts ul {
      padding: 0 0 5px;
      text-align: right;
      line-height: 1; }
    header .header_contacts li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      color: #fff;
      font-size: 24px; }
      header .header_contacts li > * {
        display: inline-block;
        vertical-align: middle; }
      header .header_contacts li:hover span, header .header_contacts li:hover i:before {
        color: #ccc; }
    header .header_contacts a {
      display: inline-block;
      font-weight: 400;
      font-size: 20px; }
      header .header_contacts a span {
        color: #FFF; }
      header .header_contacts a i {
        margin-right: 5px; }
        header .header_contacts a i:before {
          color: #FFF; }

.f_left {
  float: left; }

.f_right {
  float: right; }

.a_center {
  margin: 0 auto; }

.s_r_holder {
  margin-left: 15px;
  min-height: 500px; }
  .s_r_holder .mess {
    padding: 15px 20px;
    font-size: 30px;
    text-align: center; }
    .s_r_holder .mess.foundInfo {
      padding: 0px 0 15px;
      font-size: 25px;
      text-align: left; }
      .s_r_holder .mess.foundInfo span {
        font-weight: 700;
        font-style: italic; }
  .s_r_holder .header {
    background: #80BC08;
    color: #fff; }
  .s_r_holder .body {
    border: 1px solid #383838;
    border-top: none;
    box-sizing: border-box; }
  .s_r_holder .b_inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 30px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    cursor: pointer; }
    .s_r_holder .b_inner span {
      width: calc(100% / 5); }
      .s_r_holder .b_inner span.name {
        width: calc(100% / 3); }
  .s_r_holder .info {
    display: none;
    overflow: hidden; }
    .s_r_holder .info .img-holder {
      width: 570px;
      width: calc(100% - 330px);
      padding: 0 0 10px 10px;
      cursor: -webkit-zoom-in;
      float: left; }
      .s_r_holder .info .img-holder img {
        width: 100%; }
    .s_r_holder .info .price {
      float: right;
      width: 320px;
      text-align: right;
      margin: 13% 0 10px; }
    .s_r_holder .info .pr {
      font-size: 20px;
      font-style: italic;
      padding-right: 10px;
      box-sizing: border-box; }
    .s_r_holder .info .new_pr {
      color: #F28F15;
      font-size: 26px;
      padding: 10px; }
    .s_r_holder .info .buttons {
      width: 320px;
      float: right; }

body {
  font-family: "Roboto";
  color: #383838;
  font-size: 14px;
  font-weight: 400;
  position: relative; }

main {
  margin-top: 80px; }
  main.main_p {
    margin-top: 0; }
    main.main_p .banner {
      height: 340px;
      background: url(../images/bg.jpg) no-repeat bottom;
      background-size: cover;
      background-attachment: fixed;
      background-position-y: -265px; }
      main.main_p .banner .banner-inner {
        padding-top: 80px; }
        main.main_p .banner .banner-inner h1 {
          font-size: 52px;
          margin-bottom: 15px; }
        main.main_p .banner .banner-inner h4 {
          font-size: 20px;
          margin-bottom: 35px; }

.banner {
  height: 400px;
  width: 100%;
  background: url(../images/bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }
  .banner .banner-outer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); }
  .banner .banner-inner {
    margin: auto;
    text-align: center; }
    .banner .banner-inner h1 {
      color: #FFF;
      font-size: 62px;
      margin-bottom: 25px;
      text-shadow: 1px 3px 7px #000; }
    .banner .banner-inner h4 {
      color: #FFF;
      font-size: 26px;
      margin-bottom: 20px;
      width: 70%;
      text-shadow: 0 3px 7px #000; }
    .banner .banner-inner p.d_text {
      color: #FFF;
      font-size: 16px;
      width: 80%;
      text-shadow: 0 3px 7px #000;
      text-align: left;
      margin: 0 auto 20px; }

main.about .banner {
  height: 500px; }

main.about .main h4 {
  margin: 30px auto; }

.help {
  margin-top: 15px; }
  .help h3 {
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0; }
  .help .text {
    padding-left: 25px; }

.search-result {
  margin-top: 20px; }
  .search-result .search,
  .search-result .buttons {
    display: inline-block;
    vertical-align: top; }
  .search-result .search {
    width: 70%;
    max-width: 825px;
    width: calc(100% - 345px);
    position: relative; }
  .search-result .search input {
    width: 100%; }
  .search-result .buttons {
    margin-left: 4px; }
    .search-result .buttons .button {
      width: 159px; }
  .search-result .search .sort-box {
    z-index: 100; }

.search > * {
  display: inline-block;
  vertical-align: top; }

.search input {
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 6px 9.5px 0.5px rgba(0, 0, 0, 0.26);
  background: #fff;
  width: 475px;
  height: 38px;
  padding: 0 12px; }

.res,
.button.inf {
  display: none; }

.sort-box {
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 6px 9.5px 0.5px rgba(0, 0, 0, 0.26);
  background: #fff;
  width: 195px;
  margin-left: 5px;
  position: relative; }
  .sort-box .criterion {
    color: #505050;
    text-align: center;
    line-height: 39px;
    height: 38px;
    cursor: pointer;
    overflow: hidden; }
    .sort-box .criterion .icon-arrow_down {
      margin: 0 10px; }
    .sort-box .criterion .icon-mobile_parameters_1 {
      display: none;
      background: #fff;
      height: 36px; }
      .sort-box .criterion .icon-mobile_parameters_1:before {
        font-size: 16px;
        display: inline-block;
        vertical-align: top; }

.o_box {
  display: none;
  position: absolute;
  top: calc(100% - 2px);
  left: -1px;
  background: #fff;
  width: calc(100% + 2px);
  box-shadow: 0px 6px 9.5px 0.5px rgba(0, 0, 0, 0.26);
  border: 1px solid #c6c6c6;
  border-top: none;
  z-index: 1; }
  .o_box li {
    text-align: left; }
    .o_box li:hover a {
      color: #969696; }
    .o_box li a {
      font-family: Roboto;
      color: #505050;
      font-size: 14px;
      font-weight: 400;
      padding: 9px 14px;
      display: block; }
    .o_box li:last-of-type {
      position: relative;
      margin-top: 10px; }
      .o_box li:last-of-type:before {
        content: '';
        height: 1px;
        width: 85%;
        background: #ccc;
        position: absolute;
        top: -5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }

.sort-box.open + .checked-options {
  display: none; }

.sort-box.open .criterion span:not(.title) {
  visibility: hidden; }

.sort-box.open .criterion .icon-arrow_down:before {
  transition: all 0.5s ease;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.sort-box.open .o_box {
  display: block; }

.search-info {
  margin: 35px 0 30px; }
  .search-info > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px; }
  .search-info .out,
  .search-info h5,
  .search-info .out-holder {
    display: inline-block;
    vertical-align: top; }
  .search-info h5 {
    color: #505050;
    font-size: 16px;
    margin-right: 15px;
    line-height: 22px; }
  .search-info .out-holder {
    border: 1px solid #f4a748;
    height: 22px;
    width: auto;
    line-height: 22px;
    padding: 0 10px;
    color: #135d81;
    font-size: 14px;
    margin-right: 10px; }
    .search-info .out-holder i {
      margin-left: 5px; }

.s_r_box {
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 2px 1.96px 0.04px rgba(97, 97, 97, 0.26);
  margin-bottom: 20px;
  padding: 10px;
  position: relative; }
  .s_r_box > * {
    display: inline-block;
    vertical-align: top; }
  .s_r_box .img-holder {
    width: 200px;
    height: 100%;
    margin-bottom: 60px;
    outline: none; }
    .s_r_box .img-holder img {
      width: 100%;
      height: 100%; }
  .s_r_box .disc-wrapp {
    width: calc(100% - 210px);
    padding: 0 0 0 20px; }
  .s_r_box .title {
    color: #505050;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0; }
  .s_r_box .disc {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #505050;
    font-size: 16px; }
  .s_r_box .info-box {
    width: 900px; }
    .s_r_box .info-box li:not(:last-of-type) {
      border-bottom: 1px solid #ccc; }
    .s_r_box .info-box span {
      display: inline-block;
      vertical-align: middle;
      word-wrap: break-word;
      line-height: 20px; }
    .s_r_box .info-box .label {
      font-weight: 700;
      padding: 0;
      color: #505050;
      font-size: 16px;
      width: 200px;
      height: auto;
      text-align: left;
      border-right: 1px solid #ccc;
      -webkit-border-radius: 0;
      border-radius: 0; }
    .s_r_box .info-box .text {
      width: calc(100% - 210px);
      min-width: 150px;
      padding-left: 10px; }
  .s_r_box .params {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 200px; }
    .s_r_box .params span {
      color: #505050;
      width: calc(100% - 95px);
      display: inline-block;
      vertical-align: top; }
    .s_r_box .params .label {
      width: 90px;
      text-align: left; }
  .s_r_box .r_s {
    width: calc(100% - 255px);
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flex !important;
    display: -o-flex !important;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
    .s_r_box .r_s .price {
      color: #F28F15;
      font-size: 18px;
      font-weight: 700;
      font-style: italic; }
      .s_r_box .r_s .price .pr {
        font-style: italic;
        margin-bottom: 10px; }
      .s_r_box .r_s .price .old_pr {
        position: relative;
        color: #908C8C;
        font-size: 16px; }
        .s_r_box .r_s .price .old_pr:before {
          content: "";
          position: absolute;
          width: 70px;
          height: 1px;
          background: #908C8C;
          -webkit-transform: rotate(14deg);
          -moz-transform: rotate(14deg);
          -ms-transform: rotate(14deg);
          -o-transform: rotate(14deg);
          transform: rotate(14deg);
          top: 10px;
          right: 0; }
      .s_r_box .r_s .price .new_pr {
        font-size: 20px;
        color: #FB5353; }
    .s_r_box .r_s .button {
      margin-bottom: 20px; }

.contacts {
  padding: 20px;
  margin-top: 25px;
  position: relative; }
  .contacts h3 {
    font-size: 42px;
    color: #383838;
    text-align: center;
    margin: 30px 0;
    font-weight: 700; }
  .contacts p.c_title {
    font-size: 24px;
    color: #383838;
    text-align: center;
    margin-bottom: 35px; }
  .contacts .l_s, .contacts .r_s {
    width: 49%;
    float: left; }
  .contacts .r_s {
    float: right; }
  .contacts .cont_list {
    margin-top: 55px;
    margin-left: 65px; }
    .contacts .cont_list li {
      margin-bottom: 25px;
      margin-left: 0; }
      .contacts .cont_list li:nth-of-type(2), .contacts .cont_list li:nth-of-type(4) {
        margin-left: 25px; }
      .contacts .cont_list li:nth-of-type(3) {
        margin-left: 50px; }
    .contacts .cont_list a {
      color: #383838;
      font-size: 20px; }
      .contacts .cont_list a i {
        padding-right: 5px;
        width: 35px;
        text-align: center; }
        .contacts .cont_list a i:before {
          color: #F28F15;
          font-size: 25px; }
        .contacts .cont_list a i.fa-envelope:before {
          font-size: 20px; }
  .contacts .soc_title {
    font-size: 24px;
    color: #383838;
    margin: 120px 0 25px;
    text-align: center;
    font-style: italic;
    font-weight: 700; }
  .contacts .social {
    text-align: center; }
    .contacts .social li {
      display: inline-block;
      display: inline-block;
      width: 35px;
      height: 35px;
      background: #5d5d5d;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin: 0 5px; }
      .contacts .social li a {
        display: block;
        line-height: 43px; }
        .contacts .social li a i:before {
          color: #80BC08;
          font-size: 25px; }
      .contacts .social li:hover a i:before {
        color: #F28F15; }
  .contacts .map,
  .contacts #map {
    width: 412px;
    height: 412px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto; }
  .contacts .gm-style {
    border-radius: 50%;
    overflow: hidden; }
  .contacts h4 {
    font-size: 24px;
    color: #383838;
    text-align: center;
    font-weight: 700;
    clear: both;
    padding: 50px 0 30px;
    width: 60%; }

#contacts_form {
  width: 60%;
  margin-bottom: 50px; }
  #contacts_form .body-title {
    font-size: 16px;
    color: #383838;
    margin-bottom: 15px; }
    #contacts_form .body-title span {
      color: #FB5353;
      padding: 0 5px; }

.buttons > * {
  display: inline-block;
  vertical-align: top; }

.button {
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 6px 9.5px 0.5px rgba(0, 0, 0, 0.26);
  background: #fff;
  width: 148px;
  height: 38px;
  margin: 0 3px; }
  .button a {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: block;
    line-height: 37px; }
  .button i {
    margin-right: 5px; }

.button.grey {
  color: #383838; }
  .button.grey a {
    color: #383838; }

.button.orange {
  border-color: #F28F15;
  color: #F28F15; }
  .button.orange a {
    color: #F28F15; }
  .button.orange:hover, .button.orange.hov {
    background: #F28F15;
    color: #fff; }
    .button.orange:hover a, .button.orange.hov a {
      color: #fff; }
  .button.orange.hov:hover {
    background: #e1820d; }

.button.blue {
  border-color: #0070a7;
  color: #0070a7; }
  .button.blue a {
    color: #0070a7; }
  .button.blue:hover, .button.blue.hov {
    background: #0070a7;
    color: #fff; }
    .button.blue:hover a, .button.blue.hov a {
      color: #fff; }
  .button.blue.hov:hover {
    background: #005f8e; }

.button.green {
  border-color: #80BC08;
  color: #80BC08; }
  .button.green a {
    color: #80BC08; }
  .button.green:hover, .button.green.hov {
    background: #80BC08;
    color: #fff; }
    .button.green:hover a, .button.green.hov a {
      color: #fff; }
  .button.green.hov:hover {
    background: #6fa407; }

.form-group {
  position: relative; }
  .form-group p.error {
    position: absolute;
    font-size: 12px;
    color: #FB5353;
    bottom: -12px;
    display: none; }
  .form-group.has-error p {
    display: block; }

#order_form {
  display: none;
  width: 70%;
  margin: 10px auto 70px; }
  #order_form .modal-title {
    font-size: 20px;
    color: #FB5353; }
  #order_form .select {
    padding: 0 15px 0 35px;
    height: 0;
    overflow: hidden;
    transition: all .3s ease; }
    #order_form .select select {
      width: 30%;
      margin: 0 2% 0 0;
      display: inline-block; }
    #order_form .select input {
      width: 30%;
      display: inline-block; }
    #order_form .select p {
      font-size: 14px;
      color: #F28F15;
      margin-bottom: 5px; }
  #order_form .body-title {
    font-size: 16px;
    color: #383838;
    margin-bottom: 15px; }
    #order_form .body-title span {
      color: #FB5353;
      padding: 0 5px; }
    #order_form .body-title.error {
      color: #FB5353;
      -webkit-animation: zoom .8s;
      -moz-animation: zoom .8s;
      -o-animation: zoom .8s;
      animation: zoom .8s;
      padding-left: 34px; }
  #order_form .form-group {
    position: relative; }
    #order_form .form-group.has-error p {
      display: block; }
  #order_form .button.grey:hover {
    background: #C6C6C6;
    color: #FFF; }
    #order_form .button.grey:hover a {
      color: #fff; }
  #order_form .step {
    display: none;
    height: 500px; }
    #order_form .step label {
      position: relative;
      padding-left: 35px;
      line-height: 23px;
      font-size: 15px; }
      #order_form .step label:before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        left: 2px;
        top: 1px;
        background: #FFF;
        border: 3px solid #fff;
        -webkit-box-shadow: 0 0 1px 1px #80BC08;
        box-shadow: 0 0 1px 1px #80BC08;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
      #order_form .step label b {
        font-weight: 700;
        display: block; }
    #order_form .step input:checked + label:before {
      background: #80BC08; }
    #order_form .step input:checked ~ .select {
      height: auto;
      padding: 8px 15px 5px 35px;
      transition: all .3s ease; }
    #order_form .step textarea {
      margin-top: 20px; }
  #order_form .step1.current ~ .buttons .button {
    display: none; }
  #order_form .step1.current ~ .buttons [data-action="next"] {
    display: inline-block; }
  #order_form .step2.current ~ .buttons .button {
    display: none; }
  #order_form .step2.current ~ .buttons [data-action="next"], #order_form .step2.current ~ .buttons [data-action="prev"] {
    display: inline-block; }
  #order_form .step3.current ~ .buttons .button {
    display: none; }
  #order_form .step3.current ~ .buttons input.button, #order_form .step3.current ~ .buttons [data-action="prev"] {
    display: inline-block; }

.accordion {
  padding: 20px 0 50px; }
  .accordion .l_s, .accordion .r_s {
    display: inline-block;
    vertical-align: top; }
  .accordion .l_s {
    width: 250px; }
  .accordion .r_s {
    width: calc(100% - 255px); }
  .accordion .box ul.mainMenu {
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 2px 1.96px 0.04px rgba(97, 97, 97, 0.26);
    margin-bottom: 20px; }
    .accordion .box ul.mainMenu li:not(:last-of-type) {
      border-bottom: 1px solid #e8e8e8; }
    .accordion .box ul.mainMenu > li:hover > .title, .accordion .box ul.mainMenu > li.open > .title {
      background: #5f8b06;
      color: #fff; }
      .accordion .box ul.mainMenu > li:hover > .title i:before, .accordion .box ul.mainMenu > li.open > .title i:before {
        color: #fff; }
    .accordion .box ul.mainMenu > li > .title {
      text-transform: uppercase; }
    .accordion .box ul.mainMenu i {
      float: right; }
    .accordion .box ul.mainMenu i:before {
      color: #5f8b06; }
  .accordion .open > .title {
    border-bottom: 1px solid #e8e8e8; }
  .accordion .title {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 7px;
    padding-left: 20px; }
  .accordion .subMenu {
    display: none; }
    .accordion .subMenu .subMenu {
      margin-left: 25px; }
    .accordion .subMenu > li {
      position: relative; }
      .accordion .subMenu > li > span {
        padding-left: 55px; }
      .accordion .subMenu > li > span:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 35px;
        height: 7px;
        width: 7px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 1px solid #000;
        border-left: none;
        border-bottom: none; }
      .accordion .subMenu > li li {
        padding-left: 0px; }
        .accordion .subMenu > li li > span:before {
          display: none; }
    .accordion .subMenu > li:hover, .accordion .subMenu > li.open {
      background: rgba(128, 188, 8, 0.6);
      color: #fff; }
      .accordion .subMenu > li:hover .subMenu li, .accordion .subMenu > li.open .subMenu li {
        border: none; }
        .accordion .subMenu > li:hover .subMenu li:hover, .accordion .subMenu > li.open .subMenu li:hover {
          background: transparent; }
    .accordion .subMenu > li.open span:before {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    .accordion .subMenu a {
      padding: 7px;
      padding-left: 40px;
      display: block;
      color: #fff; }
      .accordion .subMenu a:hover {
        color: #383838; }

.tab_nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.6); }
  .tab_nav * {
    color: #fff; }
  .tab_nav .t_nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff; }
    .tab_nav .t_nav li:not(:last-of-type) {
      border-right: 1px solid #fff; }
    .tab_nav .t_nav li {
      width: calc(100% / 6.1);
      text-align: center; }
      .tab_nav .t_nav li:nth-of-type(1), .tab_nav .t_nav li:nth-of-type(3), .tab_nav .t_nav li:nth-of-type(6) {
        width: calc(100% / 8); }
    .tab_nav .t_nav li:hover, .tab_nav .t_nav li.active {
      background: rgba(255, 255, 255, 0.4);
      background: #F28F15; }
      .tab_nav .t_nav li:hover a, .tab_nav .t_nav li.active a {
        color: #fff; }
    .tab_nav .t_nav a {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      height: 49px;
      font-weight: 100;
      font-size: 16px; }
      .tab_nav .t_nav a span {
        margin: auto; }
  .tab_nav + .main {
    padding-top: 15px; }

.cart h3 {
  font-size: 42px;
  color: #383838;
  text-align: center;
  margin: 30px 0;
  font-weight: 700;
  display: inline-block; }

.cart .hint {
  margin-bottom: 15px;
  color: #F28F15; }

.cart .cart_wrapp {
  padding-bottom: 30px; }

.cart .mess {
  color: #fff;
  background: #f4a748;
  border: 1px solid #F28F15;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  margin: 50px 0; }
  .cart .mess + .buttons {
    padding: 15px 0;
    overflow: hidden; }
    .cart .mess + .buttons .button {
      float: right; }
      .cart .mess + .buttons .button:hover {
        background: #fb5353; }
        .cart .mess + .buttons .button:hover a {
          color: #fff; }
    .cart .mess + .buttons a {
      color: #383833; }

.cart .cart_header {
  background: #F28F15;
  color: #fff;
  line-height: 30px;
  font-weight: 100;
  border-top: 1px solid #383838; }

.cart .cart_header, .cart .cart_body, .cart .cart_result {
  border-left: 1px solid #383838;
  border-right: 1px solid #383838; }
  .cart .cart_header li, .cart .cart_body li, .cart .cart_result li {
    border-bottom: 1px solid #383838;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around; }
  .cart .cart_header span, .cart .cart_body span, .cart .cart_result span {
    width: 16%;
    width: calc(100% / 7);
    text-align: center; }
    .cart .cart_header span i, .cart .cart_body span i, .cart .cart_result span i {
      cursor: pointer; }
  .cart .cart_header .img-holder, .cart .cart_body .img-holder, .cart .cart_result .img-holder {
    width: 120px;
    padding: 5px;
    box-sizing: border-box; }
    .cart .cart_header .img-holder img, .cart .cart_body .img-holder img, .cart .cart_result .img-holder img {
      width: 100%; }
  .cart .cart_header .title, .cart .cart_body .title, .cart .cart_result .title {
    width: 220px;
    text-align: left; }
  .cart .cart_header .quantity input, .cart .cart_body .quantity input, .cart .cart_result .quantity input {
    width: 50px; }
  .cart .cart_header .quantity .fa-minus, .cart .cart_body .quantity .fa-minus, .cart .cart_result .quantity .fa-minus {
    color: #F28F15;
    margin-right: 5px; }
  .cart .cart_header .quantity .fa-plus, .cart .cart_body .quantity .fa-plus, .cart .cart_result .quantity .fa-plus {
    color: #80BC08;
    margin-right: 5px; }
  .cart .cart_header .del, .cart .cart_body .del, .cart .cart_result .del {
    cursor: pointer; }
    .cart .cart_header .del i, .cart .cart_body .del i, .cart .cart_result .del i {
      color: #fb5353;
      margin-right: 5px; }

.cart .cart_wrapp .buttons {
  padding: 50px 0; }

.cart .cart_wrapp .button.orange {
  float: right; }

.cart .cart_result {
  margin-bottom: 30px;
  float: right;
  background: #80BC08;
  padding: 10px;
  color: #fff;
  width: 100%; }
  .cart .cart_result span {
    width: calc(100% / 8); }
  .cart .cart_result span:nth-of-type(1) {
    width: calc(100% / 2);
    text-align: right; }
  .cart .cart_result li {
    border: none; }

.nozzles .s_r_holder {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around; }

.nozzles .s_r_box {
  text-align: center;
  width: 29%; }
  .nozzles .s_r_box a.img-holder {
    display: block;
    margin: 15px auto;
    height: 200px;
    width: 200px; }
    .nozzles .s_r_box a.img-holder[href*='images/catalog/gofra/'] {
      height: 142px; }
  .nozzles .s_r_box .title {
    font-weight: 500;
    text-align: center;
    min-height: 60px;
    margin-bottom: 0; }
    .nozzles .s_r_box .title b {
      font-weight: 700;
      padding-top: 10px;
      display: block; }
  .nozzles .s_r_box .disc {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column; }
  .nozzles .s_r_box .disc-wrapp {
    width: 100%;
    padding: 0; }
    .nozzles .s_r_box .disc-wrapp .info-box {
      width: 100%;
      margin: 15px 0 25px; }
    .nozzles .s_r_box .disc-wrapp .r_s {
      width: 100%;
      text-align: center; }
    .nozzles .s_r_box .disc-wrapp .price {
      margin-bottom: 20px; }
    .nozzles .s_r_box .disc-wrapp .label {
      font-size: 14px;
      width: 120px; }
    .nozzles .s_r_box .disc-wrapp .text {
      width: calc(100% - 135px);
      min-width: 100px;
      padding-left: 10px;
      text-align: left; }

.p_nozzles .banner, .p_nozzles .banner-outer {
  background: none; }

.p_nozzles .banner-inner {
  padding: 15px 0 30px; }

.p_nozzles .banner {
  height: auto; }
  .p_nozzles .banner h4 {
    font-size: 42px;
    color: #383838;
    text-shadow: none; }
  .p_nozzles .banner p.d_text {
    color: #383838;
    text-shadow: none; }

.p_nozzles .s_r_holder {
  margin-left: 0; }

.p_universal .banner, .p_universal .banner-outer {
  background: none; }

.p_universal .banner-inner {
  padding: 15px 0 30px; }

.p_universal .banner {
  height: auto; }
  .p_universal .banner h4 {
    font-size: 42px;
    color: #383838;
    text-shadow: none; }
  .p_universal .banner p.d_text {
    color: #383838;
    text-shadow: none; }

.p_universal .s_r_holder {
  margin-left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around; }

.p_universal .s_r_box {
  width: 49%;
  position: relative; }
  .p_universal .s_r_box .disc {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column; }
  .p_universal .s_r_box .disc-wrapp {
    width: 100%;
    padding: 0; }
  .p_universal .s_r_box .info-box, .p_universal .s_r_box .r_s {
    margin-top: 35px;
    width: 100%; }
  .p_universal .s_r_box .r_s {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 200px !important; }
  .p_universal .s_r_box .img-holder {
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 0; }
  .p_universal .s_r_box .price {
    margin-bottom: 45px; }

.p_stroger .s_r_box .disc-wrapp .text {
  width: calc(100% - 155px); }

.p_stroger .s_r_box .disc-wrapp .label {
  width: 150px; }

.p_stroger .truba .s_r_box .img-holder {
  height: 130px; }

.preloader {
  margin: 50px auto;
  width: 100%; }

.preloader div {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.preloader .ogange {
  width: 100px;
  height: 100px;
  border-left-color: orange;
  border-top-color: orange; }

.preloader .green {
  width: 70px;
  height: 70px;
  margin: 13px;
  border-right-color: green;
  border-bottom-color: green; }

.preloader .yellow {
  width: 40px;
  height: 40px;
  margin: 13px;
  border-bottom-color: yellow;
  border-left-color: yellow; }

.highlightSearchInput {
  border-color: #fb5353 !important; }
  .highlightSearchInput + p {
    color: #fb5353;
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    text-align: left; }

#glyshaki-stronger .s_r_box .title {
  min-height: inherit; }

#glyshaki-stronger .s_r_box .img-holder {
  margin: 0 auto 15px; }

.pagination {
  margin: 0 auto 15px;
  display: block;
  text-align: center; }
  .pagination a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.3;
    color: #fff;
    background: #ccc;
    border-radius: 3px; }

.modal-header {
  border: 0; }

.modal-body {
  text-align: center;
  padding-bottom: 30px;
  font-size: 16px; }

@-webkit-keyframes zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@-moz-keyframes zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@-o-keyframes zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

footer {
  font-size: 16px;
  color: #FFF;
  background: #535C75;
  width: 100%;
  padding: 40px 0 20px; }
  footer a {
    color: #FFF; }
    footer a:hover {
      color: #b5f634; }
  footer .p_b {
    font-size: 14px;
    margin: 10px auto 0;
    text-align: center; }
    footer .p_b:last-of-type {
      margin-bottom: 20px; }
  footer .f_menu i {
    margin-right: 5px; }
  footer .cont_list i {
    width: 30px;
    text-align: left; }
    footer .cont_list i:before {
      font-size: 20px; }
  footer .cont_list li:nth-of-type(2) i:before {
    font-size: 12px; }
  footer .social li {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px; }
    footer .social li a {
      display: block; }
    footer .social li i:before {
      font-size: 20px; }

.footer-inner {
  margin: 40px 0 50px; }
  .footer-inner .f_item {
    width: calc(100% / 3.05);
    display: inline-block;
    vertical-align: top; }
    .footer-inner .f_item .title {
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 15px; }
    .footer-inner .f_item ul li {
      margin-bottom: 10px; }

#preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover; }
  #preloader .preloader-wrapp {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  #preloader .preloader {
    margin: auto; }
  #preloader h1 {
    font-size: 75px;
    margin-bottom: 55px;
    text-align: center;
    color: #fff; }
  #preloader .preloader div {
    border-width: 3px;
    box-sizing: border-box; }
  #preloader .preloader .white {
    width: 125px;
    height: 125px;
    border-left-color: #fff;
    border-top-color: #fff;
    padding: 10px; }
  #preloader .preloader .ogange {
    width: 100px;
    height: 100px;
    border-left-color: orange;
    border-top-color: orange; }
  #preloader .preloader .green {
    width: 70px;
    height: 70px;
    margin: 12px;
    border-right-color: green;
    border-bottom-color: green; }
  #preloader .preloader .yellow {
    width: 40px;
    height: 40px;
    margin: 12px;
    border-bottom-color: yellow;
    border-left-color: yellow; }

@charset "UTF-8";
@media only screen and (max-width: 1199px) {
  .search-result, .p_universal .banner p.d_text, .p_nozzles .banner p.d_text {
    width: 970px;
    margin-left: auto;
    margin-right: auto; }
  .nozzles .s_r_box {
    width: 32%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 0;
    padding-right: 0; }
  .search-result, .p_universal .banner p.d_text, .p_nozzles .banner p.d_text {
    width: 750px; }
  .tab_nav .t_nav li {
    padding: 0 8px; }
  .p_universal .s_r_box .img-holder {
    width: 100px;
    height: 100px; }
  .p_universal .s_r_box .r_s {
    position: static;
    width: initial !important; }
    .p_universal .s_r_box .r_s .price {
      position: absolute;
      top: 70px;
      right: 15px; }
    .p_universal .s_r_box .r_s .buttons {
      text-align: center; }
  .p_universal .s_r_box .info-box, .p_universal .s_r_box .r_s {
    margin-top: 10px; }
  .s_r_box .info-box .label {
    width: 135px; }
  .nozzles .s_r_box {
    width: 49%; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .mob-hidden {
    display: none !important; }
  .mob-show {
    display: inline-block !important; }
  a.mob-show {
    margin-right: 25px; }
    a.mob-show i:before {
      color: #fff !important; }
  ul.mob-showUl {
    background: #fff;
    border: 1px solid green;
    position: absolute;
    z-index: 10000;
    top: 100%;
    right: 0;
    padding: 20px;
    text-align: left;
    width: 265px; }
    ul.mob-showUl li a {
      line-height: 1;
      color: #595959;
      text-shadow: none;
      width: 100%;
      font-size: 16px; }
    ul.mob-showUl ul {
      position: static !important;
      top: inherit !important;
      left: 0;
      background: #FFF;
      padding: 0 !important;
      width: auto !important;
      text-align: left;
      border: none !important;
      z-index: 100;
      display: block !important; }
      ul.mob-showUl ul a {
        line-height: 1.3 !important; }
  header .header_contacts a {
    font-size: 14px; }
  .expand-transition {
    transition: all .3s ease;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  .expand-enter {
    transition: all .3s ease; }
  .expand-leave {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); }
  .expand-enter, .expand-leave {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0; }
  .tab_nav {
    position: relative;
    border: 1px solid #fff;
    height: 60px;
    cursor: pointer; }
    .tab_nav.hover .t_nav {
      height: auto;
      transition: all 0.5s ease; }
    .tab_nav:before {
      content: "Навигация";
      font-size: 16px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .tab_nav .t_nav {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      border: 0;
      height: 0;
      transition: all 0.5s ease;
      overflow: hidden;
      position: relative;
      top: 59px;
      left: 0;
      background: #646464;
      z-index: 100; }
      .tab_nav .t_nav li:not(:last-of-type) {
        border-right: 0; }
      .tab_nav .t_nav li {
        width: 100%; }
        .tab_nav .t_nav li:nth-of-type(1), .tab_nav .t_nav li:nth-of-type(3), .tab_nav .t_nav li:nth-of-type(6) {
          width: 100%; }
      .tab_nav .t_nav a {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        height: 49px;
        font-weight: 100;
        font-size: 16px; }
        .tab_nav .t_nav a span {
          margin: auto; } }

/* Custom, iPhone Retina */
